<div class="footer">
    <div>
        <a href="/listings"><i class="fa-brands fa-facebook"></i></a>
        <a href="/listings"><i class="fa-brands fa-instagram"></i></a>
        <a href="/listings"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div>&#169;Airbnb Private Limited</div>
    <div>
        <a href="/listings">Privacy</a>
        <a href="/listings">Terms</a>
    </div>
</div>