<div class="footer">
    <div>
        <a href="www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
        <a href="www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
        <a href="www.linkedin.com"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div>&#169;Airbnb Private Limited</div>
    <div>
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</div>