<% layout("/layouts/boilerplate") %>
<body>
    <div class="row col-6 offset-3" style="margin-top:6rem ;margin-bottom:8rem ;"> 
      <h1>Log in</h1>
    <form method="POST" action="/login" class="needs-validation" novalidate>
      
      <div class="mb-3"> 
        <label for="username" class="form-label">Username</label>
        <input placeholder="Enter username" name="username" type="text" class="form-control" id="username" required>
      </div>
   
      <div class="mb-3"> 
        <label for="password" class="form-label">Password</label>
        <input placeholder="Enter password" name="password" type="password" class="form-control" id="password" required>
      </div>

     <button class="btn btn-dark mb-5">Login</button> 
  </form> 
 </div>
</body>
